/** 
	Top panel for icon
*/
.display-panel-icon {
	
}

/**
	Modes popup 
*/
.display-switcher-box {
	text-align: center;
	color: @theme_fg_color;
	font-size: 14px;
}

.display-switcher-mode {
	padding: 1px;
	border: none;
}
