
/*Used for message*/
.message-label {
    font-size: 36px;
    font-weight: bold;
    color: #ffffff;
    background-color: rgba(10,10,10,0.7);
    border-radius: 5px;
    padding: .5em;
}

/*Used for top icon*/
.panel-button {

}

/*Used for modes popup*/
.display-switcher-app {

}